# Dependencies
node_modules/

# Build output
dist/
out/
release/

# Operating System files
Thumbs.db
.DS_Store
.env

# IDE files
.vscode/
.history/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*