# Dependencies
node_modules/
package-lock.json

# Build output
dist/
out/
release/

# Operating System files
Thumbs.db
.DS_Store

# IDE files
.vscode/
.history/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*